<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Expenses
    </ion-title>
    <ion-button slot="end" fill="outline" (click)="dismisModal()">X</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="addExpenseForm">
  
    <ion-item>
      <ion-input type="number" placeholder="Enter Amount" formControlName="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea type="text" placeholder="Enter Description" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Select Category</ion-label>
      <ion-select value="" okText="Ok" cancelText="Cancel" interface="popover" formControlName="type">
        <ion-select-option>General</ion-select-option>
        <ion-select-option>Grocery</ion-select-option>
        <ion-select-option>Shopping</ion-select-option>
        <ion-select-option>Lunch</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="primary" fill="solid" expand="block" (click)="initCreateExpense()" [disabled]="!addExpenseForm.valid">Add</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="danger" fill="solid" expand="block" (click)="dismisModal()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    

  </form>

</ion-content>