<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-bargraph></app-bargraph>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title >
        Total: Rs 500 
      </ion-card-title>
      <ion-card-subtitle>
        {{selectedDate | date}}
      </ion-card-subtitle>
    </ion-card-header>
     
    <ion-footer>
      <ion-row>
        <ion-col size="3">
          <ion-button expand="full" fill="clear" (click)="setCurrentToTodayDate()">Today</ion-button>
        </ion-col>
        <ion-col size="3">
          <!-- <ion-button expand="full" fill="clear">Date</ion-button> -->
            <ion-item lines="none">
              <ion-label color="primary">Date</ion-label>
              <ion-datetime 
                  #selected
                  [value] = "selectedDate.toISOString()"
                  (ionChange) = "changeSelectedDate(selected.value)"
                  min="2020" 
                  [max]="selectedDate.toISOString()"
              ></ion-datetime>
            </ion-item>
          </ion-col>
        <ion-col size="3">
            <ion-button expand="full" fill="clear">Category</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="full" fill="clear">Amount</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>

  <ion-card *ngFor="let expense of expenses">
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button>
            <ion-icon size="large" name="help-circle-outline"></ion-icon>
        </ion-button>
        <ion-button>
            <ion-icon size="large" name="create-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title slot="start">Rs. {{expense.amount}}</ion-title>
    </ion-toolbar>
    <ion-card-content>
      <ion-text>
          {{expense.description}}
      </ion-text>
      <ion-footer>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
                {{expense.createdOn | date}}
            </ion-col>
            <ion-col size="6">
                {{expense.type}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    
</ion-content>
